<template>
  <div class="container">
    <div class="alert alert-primary" role="alert" v-if="isUpdating && !isUnavailable">
      Fetching data, please wait
      <span class="dot_one"> .</span>
      <span class="dot_two"> .</span>
      <span class="dot_three"> .</span>
    </div>
    <try-again v-else-if="isUnavailable" :try-again="fetchData"/>
    <div v-else class="card-deck mb-3 text-center">
      <card v-if="maxPrice" :exchange="maxPrice.exchange" :price="maxPrice.price" color="green" />
      <card v-for="p in otherPrices" :key="p.exchange" :exchange="p.exchange" :price="p.price" />
      <card v-if="minPrice" :exchange="minPrice.exchange" :price="minPrice.price" color="red" />
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";
import TryAgain from "./TryAgain.vue";
import { bus } from "../main";

export default {
  name: "CardList",
  components: {
    Card,
    TryAgain
  },
  data() {
    return {
      isUpdating: false,
      isUnavailable: false,
      allPrices: [],
      product: ""
    };
  },
  computed: {
    maxPrice() {
      let max;
      for (let p of this.allPrices) {
        if (!max) {
          max = p;
        } else if (max.price < p.price) {
          max = p;
        }
      }
      return max;
    },
    minPrice() {
      let min;
      for (let p of this.allPrices) {
        if (!min) {
          min = p;
        } else if (min.price > p.price) {
          min = p;
        }
      }
      return min;
    },
    otherPrices() {
      return this.allPrices.filter(
        p => p !== this.maxPrice && p !== this.minPrice
      );
    }
  },
  methods: {
    fetchData() {
      if (this.product) {
        this.isUpdating = true;
        this.$axios
          .get(`/products/${this.product}/prices`)
          .then(res => {
            if (res.status === 200) {
              this.allPrices = res.data;
              this.isUnavailable = false;
            } else {
              this.allPrices = [];
              this.isUnavailable = true;
            }
            this.isUpdating = false;
          })
          .catch(() => {
            this.allPrices = [];
            this.isUpdating = false;
            this.isUnavailable = true;
          });
      } else {
        this.allPrices = [];
      }
    }
  },
  created() {
    bus.$on("productChanged", product => {
      this.product = product;
      this.allPrices = [];
      this.fetchData();
    });
  },
  beforeDestroy() {
    bus.$off("productChanged");
  }
};
</script>
