<template>
    <div class="card mb-4 shadow" :class="cardStyle">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ exchange }}</h4>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ price }}</h3>
        </div>
    </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    exchange: String,
    price: Number,
    color: {
      default: "light",
      type: String
    }
  },
  computed: {
    cardStyle() {
      return {
        "bg-success": this.color === "green",
        "bg-danger": this.color === "red",
        "text-white": this.color === "green" || this.color === "red",
        "bg-light": this.color !== "green" && this.color !== "red"
      };
    }
  }
};
</script>
