<template>
    <div class="container pb-3">
      <try-again v-if="isUnavailable" :try-again="fetchData"/>
      <div v-else class="row">
        <div class="col">
          <select class="form-control form-control-lg" id="product-selector" v-model="selected">
            <option value="">Select a product</option>
            <option v-for="(p, i) in products" :key="i" :value="p">{{ p }}</option>
          </select>
        </div>
        <div class="col flex-grow-0" v-show="selected">
          <button class="btn btn-success btn-lg" @click="handleProductChanged">Update</button>
        </div>
      </div>
    </div>
</template>

<script>
import { bus } from "../main";
import TryAgain from "./TryAgain.vue";

export default {
  name: "ProductSelector",
  components: {
    TryAgain
  },
  data() {
    return {
      products: [],
      selected: "",
      isUnavailable: false
    };
  },
  watch: {
    selected() {
      this.handleProductChanged();
    }
  },
  methods: {
    handleProductChanged() {
      bus.$emit("productChanged", this.selected);
    },
    fetchData() {
      this.$axios
        .get("/products")
        .then(res => {
          if (res.status === 200) {
            this.products = res.data;
            this.isUnavailable = false;
          } else {
            this.products = [];
            this.isUnavailable = true;
          }
        })
        .catch(() => {
          this.products = [];
          this.isUnavailable = true;
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>
