<template>
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-danger" role="alert">
            Service unavailable, please try again later.
        </div>
        <button type="button" class="btn btn-warning btn-lg" @click="doTry" :disabled="isTrying">
            <span v-if="!isTrying">Try again</span>
            <span v-else>
                Please wait
                <span class="dot_one"> .</span>
                <span class="dot_two"> .</span>
                <span class="dot_three"> .</span>
            </span>
        </button>
    </div>
</template>

<script>
export default {
  name: "TryAgain",
  props: {
    tryAgain: Function
  },
  data() {
    return {
      isTrying: false
    };
  },
  methods: {
    doTry() {
      this.isTrying = true;
      setTimeout(() => (this.isTrying = false), 5000);
      this.tryAgain();
    }
  }
};
</script>
