<template>
  <div id="app">
    <app-header/>
    <product-selector/>
    <card-list/>
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";
import ProductSelector from "./components/ProductSelector.vue";
import CardList from "./components/CardList.vue";

export default {
  name: "app",
  components: {
    AppHeader,
    ProductSelector,
    CardList
  }
};
</script>

<style>
.container {
  max-width: 960px !important;
}

span[class^="dot_"] {
  opacity: 0;
}
.dot_one {
  animation: dot_one 2s infinite linear;
}
.dot_two {
  animation: dot_two 2s infinite linear;
}
.dot_three {
  animation: dot_three 2s infinite linear;
}

@keyframes dot_one {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot_two {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot_three {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
</style>
